.centered {
	margin: auto;
	width: 20%;
}

.thick-border {
	border: 3px solid black;
	border-collapse: collapse;
}

/* Create two equal columns that floats next to each other */
.column {
    float: center;
    width: 45%;
    height: 50%; /* Should be removed. Only for demonstration */
		display: inline-block;
		padding-left: 2%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.gameCard{
  height: 100%;
  width: 90%;
  margin: auto;
  width: 90%;
  border: 3px solid black;
  border-collapse: collapse;
}
